body {
  background-color: #004c93;
}
.buttons_container {
  padding: 30px 0 10px 0;

}
.btn-group {
  background-color: white;
}
.video_container {
  padding-top: 10px;
  width: 960px;
  height: 540px;
}
.cameras__logout_btn{
  position:fixed;
  top: 5px;
  right: 5px;
}