html {
  font-size: 10px;
}
body {
  background-color: #004c93;
}
.page_header {
  padding-top: 20px !important;
}
.page-title {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.8rem;
}
.cameras__logout_btn {
  padding-bottom: 10px;
}
.cameras__logout_btn a:hover {
  background-color: #0d6efd;
  color: white;
}
.btn-group {
  background-color: white;
}
.video_container {
  padding-top: 10px;
}
.navbar {
  border-top: 1px solid white;
  padding-top: 10px;
}
.navbar-collapse {
  margin-top: 5px;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
.nav-item {
  --bs-nav-link-color: black;
  background-color: white;
  margin: 1px 2px;
  text-align: center;
  border-radius: 5px;
  padding: 0;
}
.nav-item:hover .nav-link:hover {
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
}
.navbar-collapse {
  justify-content: center;
}
.active {
  background-color: #0d6efd;
  color: white !important;
  border-radius: 5px;
}
.video_frame {

}
@media screen and (min-width: 576px) {
  .nav-link {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 1.4rem;
  }
}
