<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="buttons_container">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btn_cam401" data-streamid="cam401" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btn_cam401">CAM401</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btn_cam404" data-streamid="cam404" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam404">CAM404</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btn_cam406" data-streamid="cam406" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam406">CAM406</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn_407" data-streamid="cam407" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_407">CAM407</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn_408" data-streamid="cam408" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_408">CAM408</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn_cam409" data-streamid="cam409" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam409">CAM409</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn_cam410" data-streamid="cam410" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam410">CAM410</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn_cam411" data-streamid="cam411" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam411">CAM411</label>



            <input type="radio" class="btn-check" name="btnradio" id="btn_cam412" data-streamid="cam412" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam412">CAM412</label>
            <input type="radio" class="btn-check" name="btnradio" id="btn_cam413" data-streamid="cam413" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn_cam413">CAM413</label>
        </div>
    </div>

    <div class="video_container">
        <video
        id="player"
        class="video-js"
        controls
        preload="auto"
        width="720px"
        height="480px"
        data-setup="{}"
        >
        <source src="/video_feed/cam401" type="video/mp4" />
        </video>
    </div>


    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
